
/*Tamanho padrão para tablets*/
/*Tamanho padrão para tablets*/
@media only screen and (max-width: 1064px) {
	.container {
		width: 100%;
	}
	header #logotipo {
		display: none;;
	}
	header
	{
		height: 40px;
	}
	#menu
	{
		display:none;
	}
	#btn-bars, #btn-search {
		color: #fff;
		font-size: 22px;
		position: absolute;
		top: 4px;
		background: none;
		border: none;
		display: block;
	}
	#btn-bars {
		left: 4px;
	}
	#btn-search {
		right: 4px;
	}
	header #row-hr-1 {
		display: block;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10;
		
	}
	#row-hr-1 {
		background-color: #3498db;
		height: 40px;
	}

	header #menu-mobile {
		display: block;
		transition: 1s;
		position: fixed;
		background-color: #3498db;
		width: 60%;
		height: 100%;
		left:-60%;
		z-index: 5;
	}

	
	
	header #row-hr-1 li a {
		width: 32px;
		height: 32px;
		display: block;
	}
	header #input-search-mobile {
		transition: 1s;
		position: fixed;
		width: 40%;
		left: 36%;
		background-color: #3498db;
		border: none;
		height: 40px;
		color: #fff;
		outline: 0;
		font-size: 16px;
	}
	header.open-search #input-search-mobile {
		top: 0;
	}
	header.open-menu #menu-mobile {
		left: 0;
		
	}
	header.open-menu #menu-mobile-mask {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,.5);
		z-index: 4;
	}
	header.open-menu #logotipo {
		position: fixed;
		top: 50px;
		height: 76px;
		left: calc(40% - 33px);
	}
	header #menu-mobile ul {
		margin: 20px;
		margin-top: 60px;
	}
	header #menu-mobile li {
		text-align: center;
		border-top: #fff 1px solid;
	}
	header #menu-mobile li:last-child {
		border-bottom: #fff 1px solid;
	}
	header #menu-mobile li a {
		color: #fff;
		font-family: 'OpenSans';
		font-weight: bold;
		font-size: 16px;
		padding: 18px;
		display: block;
		text-decoration: none;
	}
	header .bar-close {
		position: absolute;
		bottom: 40px;
		right: 0;
		background-color: #2c82c9;
		height: 40px;
		width: 100%;
	}
	header .bar-close .btn-close {
		background:none;
		border: none;
		color: #fff;
		font-size: 22px;
	}
	
	header.open-search #logotipo {
		z-index: 9;
	}
}

@media only screen and (max-width: 765px) {
	
	
	#banner {
		height: 317px;
		background-size: cover;
		background-position: 0;
		text-align: center;
	}
	#banner h1 {
		top: 180px;
		font-size: 48px;
		margin-left: 0;
	}
	#banner h1 small {
		font-size: 22px;
	}


	#row-section-1 p {
		margin-bottom: 40px;
	}

	footer {
		margin-top: 60px;
	}
	.copyright-mobile p {
		font-size: 10px;
		line-height: 0;
	}
	.copyright-mobile .pull-left {
		float: inherit!important;
	}
	footer .row p {
		text-align: center;
		line-height: 20px;
	}
	footer .row p:first-child {
		margin-top: 10px;
	}
	footer .text-roxo {
		margin-right: 10px;
	}
	footer .row {
		margin: 0;
	}
	footer .list-socials {
		text-align: center;
		width: 100%;

	}
	footer .col-md-10 {
		padding: 0;
	}
	footer .list-socials a {
		width: 45px;
		height: 45px;
		border-radius: 50%;
	}
	footer .list-socials i {
		font-size: 30px;
	}
	
	footer .btn-footer {
		width: 100%;
		background-color: #11171D;
		height: 44px;
		line-height: 35px;
	}
	footer .col-xs-6 {
		padding: 0;
		padding-right: 5px;
	}
	footer .col-xs-6:last-child {
		padding-right: 0;
		padding-left: 5px;
	}
	footer .hidden-sm-up {
		margin-top: -10px;
	}
	
	footer .page-up {
		display: inline-block!important;
	}
	
	
	#row-section-2 #stadium
	{
		width: 100%;
	}
	footer .row-footer-1 {
		min-height: 220px;
	}
	
	.fa-pinterest-p:before {
		content: "\f231";
		color: #11171D;
	}

	.fa-instagram:before {
		content: "\f16d";
		color: #11171D;
	}


	.fa-twitter:before {
		content: "\f099";
		color: #11171D;
	}


	.fa-facebook-f:before, .fa-facebook:before {
		content: "\f09a";
		color: #11171D;
	}
	#row-section-1 p {
		font-size: 36px;
		
	}
	#row-section-1 p small {
		font-weight: normal;
		font-size: 24px;
	}
	
	#row-section-1 img {
		width: 60%;
	}
	

	#row-section-2 p {
		font-size: 36px;
		
	}
	#row-section-2 p small {
		font-weight: normal;
		font-size: 24px;
	}
	#row-section-2 img {
		width: 60%;
	}

	#row-section-3 p {
		font-size: 36px;
		
	}
	#row-section-3 p small {
		font-weight: normal;
		font-size: 24px;
	}

	#row-section-3 img {
		width: 60%;
	}
	#row-section-4 p {
		font-size: 36px;
		
	}
	#row-section-4 p small {
		font-weight: normal;
		font-size: 24px;
	}
	
	#row-section-4 img {
		width: 60%;
	}

	

}


